# Copy to backend/.env and set the values locally. Do not commit backend/.env.


PORT=5001
# -------------- Gen ai endpoints -----------

GROQ_ENDPOINT=https://api.groq.com/openai/v1/chat/completions
GROQ_MODEL=openai/gpt-oss-120b
GROQ_API_KEY=your_groq_api_key_here
OLLAMA_ENDPOINT=http://localhost:11434/api/chat
OLLAMA_MODEL=llama3.2:latest


# ---- ayush DB details ----------
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/aesix

# ------ icd and stuff -------------
ICD_CLIENT_ID = your_icd_client_id_here
ICD_CLIENT_SECRET = your_icd_client_secret_here
TOKEN_URL = https://icdaccessmanagement.who.int/connect/token
API_BASE = https://id.who.int/icd/release/11/2024-01/mms